parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    symfony:
        containerXmlPath: var/cache/dev/DockerDNS_KernelDevDebugContainer.xml
        constantHassers: false
    scanDirectories:
        - var/cache/dev/Symfony/Config
    bootstrapFiles:
        - vendor/autoload.php
        - src/Kernel.php
    ignoreErrors:
        - message: '#unknown parameter: .*#'
          path: src/Bridge/Docker/Serializer/*
        - message: '#method_exists.*#'
          path: tests/bootstrap.php
